.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-box {
    padding: 100px 25px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 600px;
    width: 400px;
    align-items: center;
    border-radius: 25px;
    box-shadow: 1px 3px 15px 5px rgba(0,0,0,0.1);
}

.login-box-logo {
    width: 150px;
    margin-bottom: 50px;
}

.login-box-input {
    width: 300px;
    margin: 5px;
    border: 0;
    background-color: #efefef;
    height: 50px;
    border-radius: 25px;
    padding-left: 20px;
    font-weight: 700;
    color: #555;
    padding-right: 20px;
}

.login-box-input:focus {
   outline: 2px solid #999;
}

.login-box-input::placeholder{
    font-weight: 700;
    font-family: 'Raleway';
    color: #999;
}

.login-box-input::-webkit-outer-spin-button,
.login-box-input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.login-box-input[type="date"] {
    color: #555;
}

.login-box-input[type="date"]::placeholder {
    color: #999;
}

.login-submit-button{
    background-color: #89B5AF;
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-weight: 700;
    color: #fff;
    margin-top: 25px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}


.login-submit-button-disabled{
    background-color: #999;
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-weight: 700;
    color: #fff;
    margin-top: 25px;
    transition: background-color 0.5s ease-in-out;
}

.login-submit-button:hover{
    background-color: #96C7C1;
}

.sign-up-text {
    font-size: 14px;
    font-weight: 700;
    color: #555;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}

.sign-up-text:hover {
    font-size: 14px;
    font-weight: 700;
    color: #999;
    cursor: pointer;
}

.summary-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.summary-text {
    font-size: 24px;
    font-weight: 700;
    color: #555;
    margin-bottom: 25px;
}

.summary-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 75%;
    color: #999;
    margin-top: 5px;
    font-weight: 500;
}

.summary-value {
    font-weight: 700;
    text-transform: uppercase;
    color: #555;
}